h1{font-family: comic sans; color: #f00;}
body {
  max-width: 50em;
  margin: 1em 2em 1em 5em;
  background-color: #f5f5f5
}

.friendly-paragraph {
  font-size:1.25em;
  padding:5px;
  padding-left:30px;
  padding-right:30px;
  color: darkgray
}
